<div id="Carousel" class="carousel slide" style="padding: 0px; margin: 0px; width: 100vw; left: 12px" data-bs-ride="carousel">
    <ol class="carousel-indicators" style="bottom: -10px;">
        {% for item in directories %}
        	<li data-bs-target="#Carousel" data-bs-slide-to="{{ forloop.index0 }}"
        	{% if forloop.first == true %}
            	class="active"
            {% endif %}
             style="font-size: 40px; margin: 8px"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for item in directories %}
        	<div class="carousel-item
        	{% if forloop.first == true %}
            	active
            {% endif %}
            ">
                {% if image_link %}
                    {% if image_link[forloop.index0] %}
                        <a href={{ image_link[forloop.index0] }}>
                    {% endif %}
                {% endif %}
                	<img class="d-block w-100" src="{{ site.url }}{{ item }}">
                    {% if image_caption %}
                        {% if image_caption[forloop.index0] %}
                            <div class="carousel-caption post-content" style="color: white !important; position: absolute; bottom: 0.8rem; left: 5vw; text-align: left; text-shadow: 0 0 1px black, 0 0 3px black, 0 0 5px black;">
                                <h5>{{ image_caption[forloop.index0] }}</h5>
                            </div>
                        {% endif %}
                    {% endif %}
                {% if image_link %}
                    {% if image_link[forloop.index0] %}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#Carousel" role="button" data-bs-slide="prev">
        <span style="margin-left: calc(10vw - 100%); text-shadow: 0 0 3px gray, 0 0 5px gray; font-size: 40px"><i class="bi bi-chevron-left"></i></span>
    </a>
    <a class="carousel-control-next" style="right: 500px" href="#Carousel" role="button" data-bs-slide="next">
        <span style="margin-right: calc(10vw - 100%); text-shadow: 0 0 3px gray, 0 0 5px gray; font-size: 40px;"><i class="bi bi-chevron-right"></i></span>
    </a>
</div>
