<div id="Carousel" class="carousel slide m-0 p-0 vw-100" data-bs-ride="carousel">
    <ol class="carousel-indicators" style="bottom: -10px;">
        {% for item in directories %}
        	<li data-bs-target="#Carousel" class="m-2" data-bs-slide-to="{{ forloop.index0 }}"
        	{% if forloop.first == true %}
            	class="active"
            {% endif %}
            ></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for item in directories %}
        	<div class="carousel-item
        	{% if forloop.first == true %}
            	active
            {% endif %}
            " style="height: min(80vh, 100vw);">
                {% if image_link %}
                    {% if image_link[forloop.index0] %}
                        <a href={{ image_link[forloop.index0] }}>
                    {% endif %}
                {% endif %}
                	<!-- img src="{{ site.url }}{{ item }}" style="position: absolute; object-fit: cover; height: 100%; width: 100%; z-index: -1; filter: blur(20px);" -->
                    <img src="{{ site.url }}{{ item }}" class="position-absolute h-100 w-100" style="object-fit: contain;">
                    {% if image_caption %}
                        {% if image_caption[forloop.index0] %}
                            <div class="carousel-caption post-content text-white position-absolute text-start" style="bottom: 0.8rem; left: 5vw; text-shadow: 0 0 3px gray, 0 0 5px lightgray;">
                                <h5>{{ image_caption[forloop.index0] }}</h5>
                            </div>
                        {% endif %}
                    {% endif %}
                {% if image_link %}
                    {% if image_link[forloop.index0] %}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="fs-1" style="text-shadow: 0 0 3px gray, 0 0 5px lightgray;">
        <a class="carousel-control-prev" href="#Carousel" role="button" data-bs-slide="prev">
            <i class="bi bi-chevron-left" style="margin-left: calc(10vw - 100%);"></i>
        </a>
        <a class="carousel-control-next" href="#Carousel" role="button" data-bs-slide="next">
            <i class="bi bi-chevron-right" style="margin-right: calc(10vw - 100%);"></i>
        </a>
    </div>
</div>
