<div class="col">
    <a href="{{ site.baseurl }}{{ project.url }}" class="text-decoration-none">
        <div class="card border-0" style="border-radius: 3vh; ">
            {% capture directory %}
                {% assign path = "uploads/"
                    | append: project.path
                        | split: '/'
                        | last
                        | split: '.'
                        | first %}
                {% for image in site.static_files %}
                    {% if image.path contains path %}
                        {{ image.path }}
                    {% endif %}
                {% endfor %}
            {% endcapture %}
            <img src="{{ site.baseurl}}{{
                directory
                    | split: ' '
                    | first
                }}" class="card-img-top" style="height: {{ include.card-height }}; object-fit: cover; border-radius: 1.2vh;">
            <div class="card-body container-fluid pb-2 mb-1">
                <div class="d-flex justify-content-between post-content text-truncate">
                    <p class="d-block fs-5 primary-color ps-2">{{ project.title }}</p>
                    <div class="d-inline-block text-truncate pe-3 ps-0 text-end">
                        <small class="d-none d-md-block d-inline-block text-truncate lh-sm" style="color: #BBB;">
                            {{ project.category }}
                        </small>
                        <small class="d-none d-lg-block lh-sm" style="color: #BBB;">
                            <small>{{ project.year }}</small>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
