<div class="col">
    <a href="{{ site.baseurl }}{{ project.url }}" style="text-decoration: none;">
        <div class="card" style="border-width: 0px">
            {% capture directory %}
                {% assign path = "uploads/" 
                    | append: project.path 
                        | split: '/' 
                        | last 
                        | split: '.' 
                        | first %}
                {% for image in site.static_files %}
                    {% if image.path contains path %}
                        {{ image.path }}
                    {% endif %}
                {% endfor %}
            {% endcapture %}
            <img src="{{ site.baseurl}}{{ 
                directory 
                    | split: ' ' 
                    | first 
                }}" class="card-img-top" style="height: {{ include.card-height }}; object-fit: cover; border-radius: calc(.25rem - 1px);">
            <div class="card-body">
                <p class="card_title">{{ project.title }}</p>
                <p class="card-text post-content">
                    <small class="text-muted" style="color: #BBB !important">
                        {{ project.category }}
                    </small>
                </p>
            </div>
        </div>
    </a>
</div>