---
layout: default
---

<div class="container-fluid" style="width: 92vw">
	<div class="row">
		<div class="col-md-2" style="margin-top: 1.4rem">
            {%- include project-categories.html -%}
		</div>
		<div class="col-md-10">
			{% for tag in page.tags %}
                <div class="row" style="margin-top: 20px">
                    <div class="col">
                        {% for category in site.categories %}
                            {% if category.tag == tag %}
                                <a class="card_title" href="{{ site.paht }}/{{ category.path | remove_first: '_' | remove: 'md' | append: 'html' }}">
                                    <h3 style="font-size: 30px; margin-bottom: 15px">{{ tag }}</h3>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-lg-2 g-4">
                    {% for project in site.projects %}
                        {% if project.category == tag %}
                            {%- include project-card.html card-height = '20rem' -%}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>