---
layout: default
---

<div class="container-fluid" style="width: 92vw">
	<div class="row">
		<div class="col-lg-2 mt-lg-4">
            {%- include project-categories.html -%}
		</div>
		<div class="col-lg-10 post-content">
			{% for tag in page.tags %}
                <div class="row mt-4 mb-3">
                    <div class="col">
                        {% for category in site.categories %}
                            {% if category.tag == tag %}
                                <a class="fs-3 text-decoration-none primary-color" href="{{ site.paht }}/{{ category.path | remove_first: '_' | remove: 'md' | append: 'html' }}">
                                    {{ tag }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 g-4">
                    {% for project in site.projects %}
                        {% if project.category == tag %}
                            {%- include project-card.html card-height = '20rem' -%}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
