---
layout: default
---

{% capture combined_directories %}
    {% for project in site.projects %}
        {% capture directory %}
            {% assign path = "uploads/"
                | append: project.path
                    | split: '/'
                    | last
                    | split: '.'
                    | first %}
            {% for image in site.static_files %}
                {% if image.path contains path %}
                    {{ image.path }}
                {% endif %}
            {% endfor %}
        {% endcapture %}

        {% assign individual_directories = directory | split: ' ' %}

        {{ individual_directories.first }}
    {% endfor %}
{% endcapture %}

{% assign directories = combined_directories | split: ' ' %}

{% capture image_links %}
    {% for project in site.projects %}
        {% assign path = project.path | split: '/' | last | split: '.' | first %}
        {{ site.url }}projects/{{ path }}.html
    {% endfor %}
{% endcapture %}

{% assign image_link = image_links | split: ' ' %}

{% capture image_captions %}
    {% for project in site.projects %}
        {{ project.title }}/
    {% endfor %}
{% endcapture %}

{% assign image_caption = image_captions | split: '/' %}


<div class="container-fluid" style="padding: 0px;">
    <div class="row">
        {%- include carousel.html -%}
    </div>
</div>
