---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

{% assign categories =  site.projects | map: 'category' | join: ','  | split: ',' | uniq %}
{% for category in categories %}
  <h3>{{ category }}</h3>
  <ul>
  {% for project in site.projects %}
    {% if project.category contains category %}
    <li><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}
    
</div>
