---
layout: default
---
{%- include sort.html -%}
<article class="post-content">
    <div class="container-fluid content">
        <div class="row pb-4">
            {%- include image-parser.html -%}
            {%- include carousel.html height="80vh" -%}
        </div>

        <div class="row pt-5">
            <header>
                <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
            </header>
        </div>

        <div class="row gx-5">
            <div class="col-xl-10 col-md-9">
                <blockquote>
                    {{ content }}
                </blockquote>
            </div>

            <div class="col-xl-2 col-md-3 ps-lg-5" itemprop="projectInformation">
                {% if page.location and page.location.size > 2 %}
                    <h3>Location:</h3>
                    <p>{{ page.location }}</p>
                {% endif %}
                {% if page.site_area and page.site_area.size > 2 %}
                    <h3>Site Area:</h3>
                    <p>{{ page.site_area }}</p>
                {% endif %}
                <h3>Year:</h3>
                <p>{{ page.year }}</p>
                {% if page.award and page.award.size > 2 %}
                    <h3>Award:</h3>
                    <p>{{ page.award }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-between">
            {% for project in project_array %}
                {% if page == project %}
                    {% assign preindex = forloop.index0 | minus: 1 %}
                    {% assign postindex = forloop.index0 | plus: 1 %}
                    {% if project_array[preindex].url and preindex >= 0%}
                        <div class="col text-start">
                            <a href="{{ project_array[preindex].url }}" class="text-decoration-none text-muted">
                                &ShortLeftArrow; Previous
                            </a>
                        </div>
                    {% endif %}
                    {% if project_array[postindex].url %}
                        <div class="col text-end">
                            <a href="{{ project_array[postindex].url }}" class="text-decoration-none text-muted">
                                Next &ShortRightArrow;
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</article>
